{
    "threads": (-1 para todas as threads do sistema ou o valor que desejar, Exemplo: 4),
    "tempDir": "TempDir terminado com\\",
    "finalDirs": [
        {
            "path": "Diretorio Final terminado com\\",
            "maxPlots": "Numero maximo de plots para este diretorio final. ESCREVER O NUMERO SEM AS ASPAS" Exemplo: 5,
            "nftAddress": "Chave NFT da pool"
        }
    ],
    "farmerKey": "Farmer Public Key",
    "logsPath": "Diretorio para os logs do MadMax",
    "loglevel": "info" OU "debug",
    "deleteTempBeforeStart": true/false, ira deletar arquivos .plot.temp que podem ter ficado de resquicios de outra plotagem nao finalizada
}